body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.space {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, #ffff66, #ffcc00, #ff9900);
    border-radius: 50%;
    box-shadow: 0 0 40px #ffcc00;
}
/*--------------------------------------------------------------------------------------*/
.orbit {
    position: absolute;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.mercury-orbit {
    width: 250px;
    height: 250px;
}

.planet {
    position: absolute;
    border-radius: 50%;
}

.mercury {
    width: 20px;
    height: 20px;
    background: gray;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/*------venus------------*/
.venus-orbit {
    width: 350px;
    height: 350px;
}

.venus {
    width: 30px;
    height: 30px;
    background: rgb(206, 130, 43); /* Venus golden brown */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
/*-------------------EARTH-------------------*/
.earth-orbit {
    width: 450px;
    height: 450px;
}

.earth {
    width: 35px;
    height: 35px;
    background: rgb(70, 130, 180); /* Earth blue */
    border: 3px solid white;       /* atmosphere effect */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
}
/*---------------------Mars---------------------*/
.mars-orbit {
    width: 550px;
    height: 550px;
}

.mars {
    width: 28px;
    height: 28px;
    background: rgb(216, 75, 32); /* mars reddish*/
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/*-------------Jupiter------------------------*/
.jupiter-orbit {
    width: 700px;
    height: 700px;
}

.jupiter {
    width: 60px;
    height: 60px;
    background: rgb(227, 150, 89); /* Jupiter brown-orange */
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
/*------------------Saturn-------------------------*/
.saturn-orbit {
    width: 850px;
    height: 850px;
}

.saturn {
    width: 55px;
    height: 55px;
    background: rgb(210, 180, 140); /* Saturn pale gold */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Saturn Rings */
.saturn .rings {
    position: absolute;
    width: 100px;
    height: 30px;
    border: 3px solid rgba(200, 180, 150, 0.8);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
}

