body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.space {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, #ffff66, #ffcc00, #ff9900);
    border-radius: 50%;
    box-shadow: 0 0 40px #ffcc00;
}
