body {
  background-color: #090626;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.space {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sun {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 209, 4);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  box-shadow: 0 0 50px rgba(255, 200, 0, 0.8);
}

/* ---------------- ORBITS ----------------- */

.orbit {
  border: 1px dotted rgb(255, 255, 255);
  position: absolute;
  border-radius: 50%;
  animation: orbit linear infinite;
}

/* --- PLANET CONTAINER (planet + label rotate together) --- */

.planet-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: white;
  font-size: 12px;
  margin-top: 5px;
  text-shadow: 0 0 3px black;
  white-space: nowrap;
  pointer-events: none;
}

/* Mercury */
.mercury-orbit {
  width: 120px;
  height: 120px;
  animation-duration: 8s;
}

.mercury {
  width: 15px;
  height: 15px;
}

/* Venus */
.venus-orbit {
  width: 180px;
  height: 180px;
  animation-duration: 18s;
}

.venus {
  width: 25px;
  height: 25px;
}

/* Earth */
.earth-orbit {
  width: 240px;
  height: 240px;
  animation-duration: 30s;
}

.earth {
  width: 30px;
  height: 30px;
  border: 3px solid white;
}

/* Mars */
.mars-orbit {
  width: 300px;
  height: 300px;
  animation-duration: 55s;
}

.mars {
  width: 23px;
  height: 23px;
}

/* Jupiter */
.jupiter-orbit {
  width: 360px;
  height: 360px;
  animation-duration: 120s;
}

.jupiter {
  width: 50px;
  height: 50px;
}

/* Saturn */
.saturn-orbit {
  width: 420px;
  height: 420px;
  animation-duration: 150s;
}

.saturn {
  width: 45px;
  height: 45px;
}

/* Uranus */
.uranus-orbit {
  width: 480px;
  height: 480px;
  animation-duration: 200s;
}

.uranus {
  width: 40px;
  height: 40px;
}

/* Neptune */
.neptune-orbit {
  width: 540px;
  height: 540px;
  animation-duration: 250s;
}

.neptune {
  width: 37px;
  height: 37px;
}

/* Animation */
@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
