body {
    background-color: #090626;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.space {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sun {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 209, 4);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 50px rgba(255, 200, 0, 0.8);
}

/* ---------------- ORBITS ----------------- */

.orbit {
    border: 1px dotted rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    animation: orbit linear infinite;
}

/* Mercury */
.mercury-orbit {
    width: 120px;
    height: 120px;
    animation-duration: 8s;
}

.mercury {
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/Mercury.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Venus */
.venus-orbit {
    width: 180px;
    height: 180px;
    animation-duration: 18s;
}

.venus {
    width: 25px;
    height: 25px;
    background: rgb(206, 130, 43);
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Earth */
.earth-orbit {
    width: 240px;
    height: 240px;
    animation-duration: 30s;
}

.earth {
    width: 30px;
    height: 30px;
    background: rgb(70, 130, 180);
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Mars */
.mars-orbit {
    width: 300px;
    height: 300px;
    animation-duration: 55s;
}

.mars {
    width: 23px;
    height: 23px;
    background: rgb(216, 75, 32);
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Jupiter */
.jupiter-orbit {
    width: 360px;
    height: 360px;
    animation-duration: 120s;
}

.jupiter {
    width: 50px;
    height: 50px;
    background: rgb(227, 150, 89);
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Saturn */
.saturn-orbit {
    width: 420px;
    height: 420px;
    animation-duration: 150s;
}

.saturn {
    width: 45px;
    height: 45px;
    background: rgb(210, 180, 140);
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Saturn Rings */
.saturn .rings {
    position: absolute;
    width: 80px;
    height: 25px;
    border: 2px solid rgba(200, 180, 150, 0.8);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
}

/* Uranus */
.uranus-orbit {
    width: 480px;
    height: 480px;
    animation-duration: 200s;
}

.uranus {
    width: 40px;
    height: 40px;
    background: rgb(173, 216, 230);
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%) rotate(90deg);
}

/* Uranus rings */
.uranus .uranus-rings {
    position: absolute;
    width: 70px;
    height: 18px;
    border: 2px solid rgba(200, 200, 200, 0.5);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(80deg);
}

/* Neptune */
.neptune-orbit {
    width: 540px;
    height: 540px;
    animation-duration: 250s;
}

.neptune {
    width: 37px;
    height: 37px;
    background: rgb(60, 100, 200);
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Animation */
@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
